---
- name: Configure the Kali Machine
  hosts: localhost
  vars:
    user: "{{ lookup('env', 'USER') }}"
    user_home: "/home/{{user}}"
    zsh_config: "{{ user_home }}/.zshrc"
    docker_gpg_key_url: "https://download.docker.com/linux/debian/gpg"
    docker_repo: "deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/debian bookworm stable"
    burpsuite_extras_dir: "/usr/local/lib/BurpSuite"
    burpsuite_extras_jars:
      jruby:
        jar: jruby-complete.jar
        url: https://repo1.maven.org/maven2/org/jruby/jruby-complete/9.4.0.0/jruby-complete-9.4.0.0.jar
        checksum: sha256:e6817cf528976a50a054910f006ee34df07c4580c8a2a4c8c8d61cda0238a108
      jython:
        jar: jython-standalone.jar
        url: https://repo1.maven.org/maven2/org/python/jython-standalone/2.7.3/jython-standalone-2.7.3.jar
        checksum: sha256:da7f3d829b148bcfa86b059dc964e3a8556fedb021096c8db07e30c66faab9b4
    FirefoxPlugins:
      - "foxyproxy-standard"
      - "wappalyzer"
      - "dotgit"
      
  tasks:
    - name: Remove conflicting vscode.sources file if exists
      become: yes
      file:
        path: /etc/apt/sources.list.d/vscode.sources
        state: absent
        
    - name: Update apt cache
      become: yes
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Add VS Code GPG key
      become: yes
      shell: |
        wget -qO- https://packages.microsoft.com/keys/microsoft.asc | gpg --dearmor > /usr/share/keyrings/packages.microsoft.gpg
      args:
        creates: /usr/share/keyrings/packages.microsoft.gpg

    - name: Add VS Code repository
      become: yes
      shell: |
        echo "deb [arch=amd64 signed-by=/usr/share/keyrings/packages.microsoft.gpg] https://packages.microsoft.com/repos/code stable main" > /etc/apt/sources.list.d/vscode.list
      args:
        creates: /etc/apt/sources.list.d/vscode.list

    - name: Install Visual Studio Code
      become: yes
      apt:
        update_cache: yes
        name: code
        state: present

    - name: Remove netexec package
      become: yes
      apt:
        name: netexec
        state: absent

    - name: Install all required apps
      become: yes
      apt:
        name:  
          - zsh
          - xsel
          - curl
          - grc
          - dnsrecon
          - enum4linux
          - feroxbuster
          - gobuster
          - impacket-scripts
          - nbtscan
          - nikto
          - nmap
          - ffuf
          - onesixtyone
          - oscanner
          - redis-tools
          - smbclient
          - smbmap
          - sslscan
          - whatweb
          - wget
          - cargo
          - chromium
          - eza
          - seclists
          - ripgrep
          - fd-find
          - unzip
          - fzf
          - bat
          - ansifilter
          - john
          - aircrack-ng
          - burpsuite
          - metasploit-framework
          - rubeus
          - dirsearch
          - sqlmap
          - hashcat
          - responder
          - masscan
          - autorecon
          - exiftool
          - ligolo-ng
          - evil-winrm-py
          - git
          - pipx
          - freerdp3-x11
          - kali-tools-windows-resources
          - kali-community-wallpapers
          - libsmbclient-dev
          - freetds-dev
          - libgcrypt20-dev
          - libidn11-dev
          - libpcre2-dev
          - libpq-dev
          - libapr1-dev
          - libaprutil1-dev
          - libsvn-dev
          - libfbclient2
          - libmysql++-dev
          - freerdp3-dev
          - libssh-dev
          - libsmb2-dev
          - gcc-mingw-w64-x86-64
          - libclang-dev
          - libkrb5-dev 
          - libsasl2-modules-gssapi-mit 
          - musl-tools
        state: present

    - name: Add custom Zsh configuration
      copy:
        src: "/tmp/kaliConfiguration/files/.zshrc"
        dest: "{{ user_home }}/.zshrc"

    - name: Add custom Terminal configuration
      copy:
        src: "/tmp/kaliConfiguration/files/qterminal.ini"
        dest: "{{ user_home }}/.config/qterminal.org/qterminal.ini"

    - name: Add custom Tmux configuration
      copy:
        dest: "{{ user_home }}/.tmux.conf"
        content: |
          set-option -g prefix C-Space
          unbind-key C-b
          bind-key C-Space send-prefix
          
          set -g @override_copy_command 'xsel -i --clipboard'
          set -g @yank_selection_mouse 'clipboard'
          set -g @yank_selection 'primary'
          
          bind -n M-q split-window -v -c "#{pane_current_path}"
          bind -n M-w split-window -h -c "#{pane_current_path}"
          
          bind -n C-n new-window -c "#{pane_current_path}"
          
          bind-key r source-file ~/.tmux.conf \; display-message "~/.tmux.conf reloaded."
          
          set-environment -g TERM "tmux-256color"
          set -g default-terminal "tmux-256color"
          
          set-option -g history-limit 5000
          set-option -g status-position top
          
          set -as terminal-overrides ',*:Smulx=\E[4::%p1%dm' # undercurl support
          set -as terminal-overrides ',*:Setulc=\E[58::2::%p1%{65536}%/%d::%p1%{256}%/%{255}%&%d::%p1%{255}%&%d%;m' # underscore colours - needs tmux-3.0
          
          # set the statusline color (default is transparent, color256)
          set -g status-left-style bg=default,fg=colour207,bold
          set -g status-style bg=default,fg=colour117,bold
          set -g status-right-style bg=default,fg=colour102,bold
          
          set -g status-right "#T"
          
          # set pane border colors
          set -g pane-border-style fg=colour238
          set -g pane-active-border-style fg=colour161
          
          set -g mouse on
          
          # tpm plugin
          set -g @plugin "tmux-plugins/tpm"
          
          # tmux plugins
          set -g @plugin "christoomey/vim-tmux-navigator"
          set -g @plugin 'tmux-plugins/tmux-yank'
          set -g @plugin 'tmux-plugins/tmux-logging'
          set -g @plugin "tmux-plugins/tmux-resurrect"
          set -g @plugin "tmux-plugins/tmux-continuum"
          set -g @plugin "omerxx/tmux-sessionx"
          
          # initialize tpm (keep at bottom of tmux.conf)
          run "~/.tmux/plugins/tpm/tpm"
          
          # Automatically sync with system clipboard (tmux 3.2+)
          set -g set-clipboard on
          
          # Force Emacs-style keys in copy-mode (optional)
          setw -g mode-keys emacs
          
          # Copy-mode key bindings
          bind -T copy-mode Space send-keys -X begin-selection
          bind -T copy-mode Enter send-keys -X copy-pipe-and-cancel "xclip -selection clipboard -i"
   
    - name: Create Autorecon directory
      become: yes
      file:
        path: "/root/.config/AutoRecon/"
        state: directory
        mode: '0755'        

    - name: Add custom Autorecon configuration
      become: yes
      copy:
        src: "/tmp/kaliConfiguration/files/config.toml"
        dest: "/root/.config/AutoRecon/config.toml"

    - name: Add custom .profile for paths.
      copy:
        src: "/tmp/kaliConfiguration/files/.profile"
        dest: "{{user_home}}/.profile"
        
    - name: Ensure tmux plugin directory exists
      file:
        path: "{{ user_home }}/.tmux/plugins"
        state: directory
        mode: '0755'

    - name: Install TPM plugins
      shell: |
        # Ensure TPM is cloned
        if [ ! -d ~/.tmux/plugins/tpm ]; then
          git clone https://github.com/tmux-plugins/tpm ~/.tmux/plugins/tpm
        fi
        # Trigger TPM plugin install without manual keypress
        ~/.tmux/plugins/tpm/bin/install_plugins
      args:
        executable: /bin/bash

    - name: Create random wallpaper script
      copy:
        src: "/tmp/kaliConfiguration/files/.updatewallpaper.sh"
        dest: "/home/{{ user }}/.updatewallpaper.sh"
      
    # Install Docker
    - name: Install Docker GPG key
      become: yes
      get_url:
        url: "{{ docker_gpg_key_url }}"
        dest: /etc/apt/keyrings/docker.gpg

    - name: Add Docker repository
      become: yes
      lineinfile:
        dest: /etc/apt/sources.list.d/docker.list
        line: "{{ docker_repo }}"
        create: yes

    - name: Install Docker packages
      become: yes
      apt:
        update_cache: yes
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present

    - name: Start Docker service
      become: yes
      systemd:
        name: docker
        enabled: yes
        state: started

    - name: Add user to docker group
      become: yes
      user:
        name: "{{ user }}"
        groups: docker
        append: yes

    - name: Create Engagement directory
      file:
        path: "{{ user_home }}/Engagement"
        state: directory
        mode: '0755'
        
    - name: Create Engagement Binaries directory
      file:
        path: "{{ user_home }}/Binaries"
        state: directory
        mode: '0755'

    - name: Create Staging directory
      file:
        path: "{{ user_home }}/Staging"
        state: directory
        mode: '0755'

    - name: Install updog via pipx
      command: pipx install updog

    - name: Install bloodyAD via pipx
      command: pipx install bloodyAD
      
    - name: Install Penelope via pipx
      command: pipx install git+https://github.com/brightio/penelope

    - name: Install Git Dumper via pipx
      command: pipx install git-dumper

    - name: Install ssh audit via pipx
      command: pipx install ssh-audit
      
    - name: Install creds via pipx
      command: pipx install defaultcreds-cheat-sheet

    - name: Install impacket via pipx
      command: pipx install impacket
      
    - name: Install nxc via pipx
      become: yes
      command: pipx install git+https://github.com/Pennyw0rth/NetExec --global

    - name: Install RustHound via Cargo
      command: cargo install rusthound-ce
      
    - name: Download tools to Binaries folder
      get_url:
        url: "{{ item }}"
        dest: "{{ user_home }}/Binaries"
        mode: '0755'
      loop:
        - https://github.com/nicocha30/ligolo-ng/releases/download/v0.8.2/ligolo-ng_proxy_0.8.2_linux_amd64.tar.gz
        - https://github.com/0xb11a1/yetAnotherObfuscator/releases/download/1.1/yetAnotherObfuscator_v1.1.zip

    - name: Download LFI Wordlists to their folder
      become: yes
      get_url:
        url: "{{ item }}"
        dest: "/usr/share/wordlists/seclists/Fuzzing/LFI"
        mode: '0755'
      loop:
        - https://github.com/carlospolop/Auto_Wordlists/blob/main/wordlists/file_inclusion_linux.txt
        - https://github.com/carlospolop/Auto_Wordlists/blob/main/wordlists/file_inclusion_windows.txt
        - https://raw.githubusercontent.com/DragonJAR/Security-Wordlist/main/LFI-WordList-Linux
        - https://raw.githubusercontent.com/DragonJAR/Security-Wordlist/main/LFI-WordList-Windows

    - name: Download OneRuleToGetThemAll to Hashcat Rules
      become: yes
      get_url:
        url: "{{ item }}"
        dest: "/usr/share/hashcat/rules"
        mode: '0755'
      loop:
        - https://raw.githubusercontent.com/NotSoSecure/password_cracking_rules/refs/heads/master/OneRuleToRuleThemAll.rule

    - name: Clone Username-Anarchy Repo
      ansible.builtin.git:
        repo: 'https://github.com/urbanadventurer/username-anarchy.git'
        dest: '{{ user_home }}/Binaries'
        version: 'master'
        update: yes

    - name: Download tools to Staging folder
      get_url:
        url: "{{ item }}"
        dest: "{{ user_home }}/Staging"
        mode: '0755'
      loop:
        - https://github.com/peass-ng/PEASS-ng/releases/latest/download/linpeas_linux_amd64
        - https://github.com/peass-ng/PEASS-ng/releases/latest/download/linpeas.sh 
        - https://github.com/peass-ng/PEASS-ng/releases/latest/download/linpeas_fat.sh 
        - https://github.com/peass-ng/PEASS-ng/releases/latest/download/winPEASany_ofs.exe 
        - https://github.com/peass-ng/PEASS-ng/releases/latest/download/winPEASx64.exe 
        - https://github.com/peass-ng/PEASS-ng/releases/latest/download/winPEAS.bat 
        - https://github.com/itm4n/PrintSpoofer/releases/download/v1.0/PrintSpoofer64.exe
        - https://github.com/antonioCoco/RoguePotato/releases/download/1.0/RoguePotato.zip
        - https://github.com/nicocha30/ligolo-ng/releases/download/v0.8.2/ligolo-ng_agent_0.8.2_linux_amd64.tar.gz
        - https://github.com/nicocha30/ligolo-ng/releases/download/v0.8.2/ligolo-ng_agent_0.8.2_windows_amd64.zip
        - https://github.com/gentilkiwi/mimikatz/releases/latest/download/mimikatz_trunk.zip
        - https://github.com/jpillora/chisel/releases/download/v1.10.1/chisel_1.10.1_linux_amd64.deb
        - https://github.com/jpillora/chisel/releases/download/v1.10.1/chisel_1.10.1_windows_amd64.gz
        - https://github.com/DominicBreuker/pspy/releases/download/v1.2.1/pspy64
        - https://raw.githubusercontent.com/uknowsec/SweetPotato/master/SweetPotato-Webshell-new/bin/Release/SweetPotato.exe
        - https://github.com/SpecterOps/MSSQLHound/blob/main/MSSQLHound.ps1
        - https://github.com/BeichenDream/GodPotato/releases/download/V1.20/GodPotato-NET2.exe
        - https://github.com/BeichenDream/GodPotato/releases/download/V1.20/GodPotato-NET35.exe
        - https://github.com/BeichenDream/GodPotato/releases/download/V1.20/GodPotato-NET4.exe
        - https://github.com/antonioCoco/RunasCs/releases/download/v1.5/RunasCs.zip
        - https://github.com/SpecterOps/SharpHound/releases/download/v2.9.0/SharpHound_v2.9.0_windows_x86.zip
        - https://raw.githubusercontent.com/PowerShellMafia/PowerSploit/refs/heads/master/Privesc/PowerUp.ps1
        - https://github.com/int0x33/nc.exe/blob/master/nc.exe
        - https://github.com/int0x33/nc.exe/blob/master/nc64.exe
        - https://github.com/stealthcopter/deepce/raw/main/deepce.sh
        - https://github.com/liamg/traitor/releases/download/v0.0.14/traitor-amd64
        - https://github.com/ohpe/juicy-potato/releases/download/v0.1/JuicyPotato.exe
        - https://github.com/stealthcopter/deepce/raw/main/deepce.sh
        - https://github.com/diego-treitos/linux-smart-enumeration/releases/latest/download/lse.sh
        - https://raw.githubusercontent.com/jondonas/linux-exploit-suggester-2/refs/heads/master/linux-exploit-suggester-2.pl

    - name: Clone Nishang Repo
      ansible.builtin.git:
        repo: 'https://github.com/samratashok/nishang.git'
        dest: '{{ user_home }}/Engagement/Staging/Nishang'
        version: 'master'
        update: yes

    - name: Clone Sharp Collection Repo
      ansible.builtin.git:
        repo: 'https://github.com/Flangvik/SharpCollection.git'
        dest: '{{ user_home }}/Staging/SharpCollection'
        version: 'master'
        update: yes

    - name: Clone Obfuscated Sharp Collection Repo
      ansible.builtin.git:
        repo: 'https://github.com/Flangvik/ObfuscatedSharpCollection.git'
        dest: '{{ user_home }}/Staging/obfuscatedSharpCollection'
        version: 'main'
        update: yes
      
    - name: Ensure BurpSuite extras directory exists
      become: yes
      file:
        path: "{{ burpsuite_extras_dir }}"
        state: directory
        mode: '0755'

    - name: Download BurpSuite extra JARs
      become: yes
      get_url:
        url: "{{ item.value.url }}"
        dest: "{{ burpsuite_extras_dir }}/{{ item.value.jar }}"
        checksum: "{{ item.value.checksum }}"
      loop: "{{ burpsuite_extras_jars | dict2items }}"

    - name: Update Firefox policies
      template:
        src: /tmp/kaliConfiguration/files/policies.json.j2
        dest: "/usr/share/firefox-esr/distribution/policies.json"
      become: true
      become_method: sudo

    - name: Install Firefox extensions
      shell: >
        firefox --headless --install-addon "https://addons.mozilla.org/firefox/downloads/latest/{{ item }}/latest.xpi"
      loop: "{{ FirefoxPlugins }}"
      async: 300
      poll: 0
      ignore_errors: true

    - name: Check and create username-anarchy symlink if it doesn't exist
      shell: |
        if [ ! -L ~/.local/bin/username-anarchy ]; then
          ln -s ~/Binaries/Username-Anarchy/username-anarchy ~/.local/bin/username-anarchy
        fi
      args:
        executable: /bin/bash

    - name: Ensure Chrome directory exists
      file:
        path: "/home/{{ user }}/.config/chromium/Default/Bookmarks"
        state: directory
        mode: '0755'

    - name: Deploy bookmarks JSON
      copy:
        src: /tmp/kaliConfiguration/files/Bookmarks
        dest: /home/{{ user }}/.config/chromium/Default/Bookmarks
        owner: "{{ user }}"
        group: "{{ user }}"
        mode: "0644"     

    - name: Ensure system is fully upgraded
      become: yes
      apt:
        upgrade: full

    # Clean up apt cache
    - name: Clean up unused packages and cache
      become: yes
      apt:
        autoremove: yes
        clean: yes

    - name: Disable desktop icons (remove all icons from desktop)
      community.general.xfconf:
        channel: xfce4-keyboard-shortcuts
        property: "/xfwm4/custom/<Alt>Delete"
        state: absent

    - name: Remove workspaces keybind delete.
      community.general.xfconf:
        channel: xfce4-desktop
        property: /desktop-icons/style
        value: 0
        value_type: int
        
    - name: Display post-installation reminders
      debug:
        msg:
          - "Reboot"
      when: true
